.Game {
  display: flex;
  height: 100%;
}

.main-screen {
  display: flex;
  flex-direction: column;
  width: 85%;
}

.right-bar {
  display: flex;
  flex-direction: column;
  width: 15%;
  min-width: 250px;
}

.dealer-cards {
  position: relative;
  height: 250px;
}

.user-dealer-card {
  height: 250px;
}

.ai-dealer-card {
  height: 250px;
}
