.Game {
  display: flex;
  height: 100vh;
}

.main-screen {
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 100vh;
}

.right-bar {
  display: flex;
  flex-direction: column;
  width: 15%;
  min-width: 250px;
}

.middle-row {
  height: 40%;
  width: 100%;
}

.dealer-cards,
.deck-cards {
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 80%;
  position: relative;
}

.deck-cards {
  justify-content: flex-start;
  gap: 0.01rem;
}

.top-row,
.bottom-row {
  margin: 1.2rem;
  height: 30%;
}
