.Game {
  display: flex;
  height: 100vh;
}

.main-screen {
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 100vh;
}

.right-bar {
  display: flex;
  flex-direction: column;
  width: 15%;
  min-width: 250px;
}

.dealer-cards {
  height: 100%;
  width: 100%;
  position: relative;
}

.middle-row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
}

.top-row,
.bottom-row {
  margin: 1.2rem;
  height: 30%;
}
