.Message {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  min-width: 250px;
  /* min-height: 10rem; */
  height: auto;
  margin: 1.2rem;
  margin-top: 0.4rem;
  padding: 1rem;
  border: dashed red;
}
