*, html {
	margin: 0;
	padding: 0;
}

/* .App {
	text-align: center;
	background-color: white;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
} */

button {
	color: black;
	padding: 5px;
	border-radius: 1px;
}
